* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: #545454;
}

.container {
  background-color: #ffffff;
  max-width: 90%;
  width: 570px;
  height: 590px;
  padding: 35px 35px 0px 35px;
  border-radius: 6px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #1c1c1c;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.main-group {
  display: flex;
  gap: 10px;
}

.group {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-field {
  height: 38px;
  border-radius: 6px;
  border: 1px solid #e4e4e4;
}

.input-field:focus {
  border: 1px solid #007bff;
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.extra-txt {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
}

.radio-group {
  display: flex;
  gap: 20px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
}

input[type="radio"] + label {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="radio"] + label::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #e4e4e4;
  border-radius: 100%;
  margin-inline-end: 8px;
  cursor: pointer;
}

input[type="radio"] + label::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 7px;
  top: 7px;
  cursor: pointer;
}

input[type="radio"]:checked + label::before {
  background-color: #007bff;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: #969696 transparent #969696 transparent;
  top: 35px;
  right: 10px;
  pointer-events: none;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #969696 transparent #969696 transparent;
  top: 43px;
  right: 10px;
  pointer-events: none;
}

select {
  appearance: none;
  outline: none;
  background: #ffffff;
  color: #969696;
  height: 38px;
  padding: 8px 10px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  cursor: pointer;
}

select:focus {
  border: 1px solid #007bff;
}

.btn {
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: #ffffff;
}

.btn.small {
  width: 150px;
}

.extra-txt.center {
  width: 75%;
  margin: auto;
  text-align: center;
}

.extra-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  border-top: 1px solid #e4e4e4;
}

.extra-link {
  text-decoration: none;
  letter-spacing: -0.1px;
  color: #007bff;
}

.image-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.image {
  display: flex;
}

.download-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-wrapper {
  position: relative;
}

.input-file {
  position: absolute;
  width: 140px;
  height: 30px;
  opacity: 0;
}

.custom-file-btn {
  background: #ffffff;
  width: 140px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  cursor: pointer;
}

.photo {
  position: absolute;
  top: 25%;
  right: 10px;
  color: #969696;
}

.input-reset {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.custom-reset-btn {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  cursor: pointer;
}

.trash {
  position: absolute;
  top: 25%;
  right: 8px;
  color: #969696;
}

.link {
  text-decoration: none;
  color: #007bff;
}
