/*General styles*/
 
@font-face {
    font-family: 'DeliusUnicase';
    src: url(../assets/fonts/DeliusUnicase/DeliusUnicase-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

main {
    margin: 120px 0 120px 0;
}

.gallery {
    width: 1170px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "heading1 heading1 heading1"
    "item1 item2 item2"
    "item3 item3 item4"
    "item5 item6 item6"
    "heading2 heading2 heading2"
    "item7 item8 item8"
    "item9 item9 item10"
    "item9 item9 item10"
    "item11 item11 item12"
    "heading3 heading3 heading3"
    "item13 item14 item15"
    "item16 item14 item17"
    "item18 item19 item17"
    "item18 item20 item20"
    "item21 item21 item22";
    grid-gap: 30px;
}

.box {
    background-size: cover;
    border-radius: 20px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.box.small {
    height: 370px;
}

.box.big {
    height: 770px;
}

.extra-block {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
}

button {
    width: 40px;
    height: 40px;
    background: #E0E0E0;
    border: none;
    border-radius: 8px;
}

button:hover {
    opacity: 0.5;
}

.box:hover {
    opacity: 1;
}

.box:hover .extra-block{
    opacity: 1;
}

.info-block {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: 'DeliusUnicase';
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.photographer {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #FFFFFF;
}

.date {    
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #E0E0E0;
}

/*First section*/

h2.architecture {
    grid-area: heading1;
    margin-bottom: 50px;
}

.image1 {
    grid-area: item1;
    background-image: url("../assets/images/architecture/Jezael\ Melgoza.png");
}

.image2 {
    grid-area: item2;
    background-image: url("../assets/images/architecture/Tom\ W.png");
}

.image3 {
    grid-area: item3;
    background-image: url("../assets/images/architecture/Johan\ Mouchet.png");
}

.image4 {
    grid-area: item4;
    background-image: url("../assets/images/architecture/Federico\ Di\ Dio.png");
}

.image5 {
    grid-area: item5;
    background-image: url("../assets/images/architecture/Casey\ Horner.png");
}

.image6 {
    grid-area: item6;
    background-image: url("../assets/images/architecture/Alexander\ Rotker.png");
}

/*Second section*/

h2.nature {
    grid-area: heading2;
    margin-top: 90px;
    margin-bottom: 50px;
}

.image7 {
    grid-area: item7;
    background-image: url("../assets/images/nature/Robert\ Lukeman.png");
}

.image8 {
    grid-area: item8;
    background-image: url("../assets/images/nature/Sean\ Oulashin.png");
}

.image9 {
    grid-area: item9;
    background-image: url("../assets/images/nature/John\ Fowler.png");
}

.image10 {
    grid-area: item10;
    background-image: url("../assets/images/nature/Dave\ Hoefler.png");
}

.image11 {
    grid-area: item11;
    background-image: url("../assets/images/nature/Léonard\ Cotte.png");
}

.image12 {
    grid-area: item12;
    background-image: url("../assets/images/nature/Rob\ Mulally.png");
}

/*Third section*/

h2.people {
    grid-area: heading3;
    margin-top: 90px;
    margin-bottom: 50px;
}

.image13 {
    grid-area: item13;
    background-image: url("../assets/images/people/Pooja\ Chaudhary.png");
}
.image14 {
    grid-area: item14;
    background-image: url("../assets/images/people/Dom\ Hill.png");
}

.image15 {
    grid-area: item15;
    background-image: url("../assets/images/people/Seth\ Doyle.png");
}
.image16 {
    grid-area: item16;
    background-image: url("../assets/images/people/devn.png");
}
.image17 {
    grid-area: item17;
    background-image: url("../assets/images/people/Noah\ Buscher.png");
}
.image18 {
    grid-area: item18;
    background-image: url("../assets/images/people/Sincerely\ Media.png");
}
.image19 {
    grid-area: item19;
    background-image: url("../assets/images/people/Seth\ Doyle\ \(2\).png");
}
.image20 {
    grid-area: item20;
    background-image: url("../assets/images/people/Melissa\ Askew.png");
}
.image21 {
    grid-area: item21;
    background-image: url("../assets/images/people/Brooke\ Cagle.png");
}
.image22 {
    grid-area: item22;
    background-image: url("../assets/images/people/Clem\ Onojeghuo.png");
}
