body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F4F4F4;
    margin: 0;
}

header {
    text-align: center;
}

.site-name {
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px;
    margin-bottom: 10px;
}

.site-name img, h1 {
    display: inline;
    vertical-align: middle;
}

p {
    text-transform: uppercase;
    font-size: 14px;
}

h3 {
    margin: 0;
}

section{
    width: 50%;
    margin: auto;
    padding: 14px;
}

.account-section {
    background-color: #EAE4E9; 
    border: 2px solid black;
    border-radius: 10px;   
}

.interests-section {
    background-color: #E2ECE9;
    border: 2px solid black;
    border-radius: 10px;
}

.confirm-section {
    text-align: center;
}

input, textarea, select {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
