/*General styles*/

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  color: #16133d;
}

.container {
  width: 1170px;
  margin: auto;
  max-width: 90%;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  line-height: 35px;
}

/*Header*/

header {
  padding: 22px 0;
  border-bottom: 1px solid #efeef3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 13px;
}

/*Main*/

.extra-txt {
  line-height: 21px;
  color: #7690a8;
  margin-bottom: 15px;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  min-width: 300px;
  padding: 40px;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
}

.card:hover {
  border: 1px solid #3db370;
}

.icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
}

.card:hover > .icon {
  border: 1px solid rgba(61, 179, 112, 0.1);
}

.card:hover > .icon > svg > .light {
  fill: #e1f4f5;
}

.card:hover > .icon > svg > .light-green {
  fill: #f4feff;
}

.card:hover > .icon > svg > .green {
  fill: #caeff2;
}

.card:hover > .icon > svg > .dark-green {
  fill: #52c29d;
}

.txt-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h3 {
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
}

.more-link {
  text-decoration: none;
  font-weight: 600;
  line-height: 19px;
  color: #3db370;
}

/*Footer*/

footer {
  padding: 40px 0;
  background-color: #16133d;
}

.title.white {
  color: #ffffff;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.social {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeef3;
  border-radius: 5px;
}

.social > a {
  display: flex;
  cursor: pointer;
}

.media {
  width: 20px;
  height: 20px;
  fill: #0d0d0d;
}

.social:hover > a > .media {
  fill: #3db370;
}
