/*General styles*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #070707;
}

.central-block {
    width: 970px;
    margin: auto;
}

.wrapper-block {
    padding: 100px 0;
}

#about-me, #portfolio {
    background: #F6F6F6;
}

nav, #about-me, #skills, #portfolio, #contacts {
    text-align: center;
}

.introduction-block, .portfolio-block {
    margin-top: 50px;
}

.main-txt {
    line-height: 25px;
}

.main-txt.note {
    margin-top: 20px;
}

.light-txt {
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
}

/*Header with navigation menu*/

header {
    margin-bottom: 12px;
}

nav {
    padding: 25px 0;
    border-bottom: 1px solid #828282;
}

nav a {
    text-decoration: none;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #828282;
}

.anchor-link {
    margin-right: 40px;
}

.anchor-link.no-margin {
    margin-right: 0;
}

/*Main block*/
/*Section "Home"*/

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 50px;
}

/*Section "About me"*/

.main-txt.introduction {
    margin-bottom: 30px;
}

/*Section "Skills*/

.main-txt.skills {
    margin-bottom: 50px;
}

.program {
    display: inline-block;
    margin-right: 100px;
}

.program.no-margin {
    margin-right: 0;
}

.light-txt.bold {
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-top: 25px;
    margin-bottom: 60px;
}

/*Section "Portfolio"*/

.project-link a {
    line-height: 25px;
    color: #070707;
}

.project-link {
    margin-top: 40px;
    margin-bottom: 70px;
}

.project-link.no-margin {
    margin-bottom: 0;
}

/*Footer with contacts*/

.main-txt.contacts {
    margin-bottom: 60px;
}

button {
    padding: 10px 16px;
    background-color: #070707;
    border-radius: 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.media-links {
    margin-bottom: 60px;
}

.media-link {
    display: inline-block;
    margin-right: 50px;
}

.media-link.no-margin {
    margin-right: 0;
}

.light-txt a {
    text-decoration: none;
    color: #828282;
}
