body {
    background-image: url(../assets/images/backgound.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
}

.wrapper-block {
    width: 600px;
    margin: auto;
}

.central-block {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

figure {
    margin: 0;
}

img {
    width: 150px;
    border-radius: 100%;
}

table {
    margin: auto;
}

table td {
    padding: 6px;
    text-align: start;
}

.main-info {
    font-size: 14px;
}

h3 {
    margin: 20px 0 20px 0;
}

p {
    margin: 0;
}

p a {
    text-decoration: none;
    color: #343a40;
}

ul {
    list-style: circle;
    padding-left: 15px;
}

.contacts {
    text-align: center;
    border: 1px solid;
    padding: 5px
}

table a {
    text-decoration: none;
    color: #343a40;
}












