* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 80px;
    padding: 17px 0;
}

.header-container {
    width: 1200px;
    height: 46px;
    margin: auto;
}

.header-box{
    display:inline-block;
    width: 33.08%;
}

.header-box:nth-child(2){
    text-align: center;
}

.header-box:nth-child(3){
    text-align: right;
}

figure {
    display: inline-block;
}

.navigation-menu {
    display: inline-block;
    vertical-align: middle;
}

.navigation-link {
    text-decoration: none;
    color: #2F281E;
    line-height: 28px;
    margin-right: 20px;
}

.navigation-link.no-margin {
    margin-right: 0;
}

.navigation-link:hover {
    color: #FF9900;
}

.login-buttons {
    display: inline-block;
}

.login-button {
    width: 110px;
    height: 46px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 4px;
}

.login-button.white {
    background: #FFFFFF;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    margin-right: 32px;
}

.login-button.orange {
    background: #FF9900;
    color: #FFFFFF;
    border: none;
}

main {
    margin-top: 70px;
}

section {
    width: 1200px;
    height: 495px;
    margin: auto;
}
.extra-box {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    margin-right: 51px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;   
    color: #2F281E;
}

.extra-txt {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #544837;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.main-button {
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: #FF9900;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}